{% extends 'base.twig' %} 
{% block title %}
     {{ parent() }} | Buscador
{% endblock %}
{% block body %}
    <h1 class="texto-error">ERROR</h1>
    <h4 class="texto-error">{{ exception }}</h4>
{% endblock %}