{% extends 'base.twig' %} 
{% block title %} {{ parent() }} | Incio
{% endblock %}
{% block body %}
<h1>BIENVENIDO!</h1>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Email: {{ app.user.email }}</p>
{% endif %}
{% endblock %}