{% extends 'base.twig' %} 
{% block title %} {{ parent() }} | Incio
{% endblock %}
{% block body %}
<!--<a class="btn btn-primario" href="{{ path('app_login') }}">Iniciar sesión</a>-->
<a class="btn btn-primario" href="{{ path('app_register') }}">Registrarse</a>
{% endblock %}