body {
  background-color: rgb(225, 233, 235);
}
.btn-primario {
  background-color: #00a0c4;
  color: white;
}

.btn-primario:hover {
  background: #0f809a;
  color: white;
}

.btn-primario:active {
  background: #0f809a;
  color: white;
}

.titulo-pelicula {
  color: #c5136c !important;
}

.titulo-serie {
  color: #0f809a !important;
}

.titulo-primario {
  color: #00a0c4 !important;
}

.titulo-primario {
  color: #00a0c4 !important;
}

.titulo-primario {
  color: #00a0c4 !important;
}
.icono-primario {
  color: #00a0c4 !important;
  font-size: 40px;
}

.navbar-primario {
  background-color: rgb(26, 26, 26);
  border-bottom: 1px solid rgb(206, 206, 206);
  cursor: pointer;
}

i {
  cursor: pointer;
}
.offcanvas-primario {
  background-color: rgb(26, 26, 26);
}

.enlace-primario {
  color: #00a0c4 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.comentario {
  border: rgb(228, 228, 228) solid 1px;
  border-radius: 5px;
}

.ficha {
  background-color: white;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: rgb(228, 228, 228) solid 1px;
  padding: 50px;
}

.obj-home {
  margin-left: 20px;
}

.obj {
  background-color: white;
  border: rgb(228, 228, 228) solid 1px;
  padding-bottom: 20px;
}

.obj-1 {
  border-left: #0f9a21 solid 5px;
}

.obj-2 {
  border-left: #0f809a solid 5px;
}

.obj-3 {
  border-left: #c5136c solid 5px;
}

.obj-4 {
  border-left: #e27b05 solid 5px;
}

.img-ficha {
  width: 100%;
  aspect-ratio: 16/20;
}
.img-ficha-md {
  width: 50%;
  aspect-ratio: 16/20;
}

.texto-error {
  color: #860000;
}
