{% extends 'base.twig' %} 
{% block title %} {{ parent() }} | Nuevo tipo de Aporte
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-10 offset-1 ficha">
        {{ form(form)}}
    </div>
</div>
{% endblock %}