{% extends 'base.twig' %} 
{% block title %} {{ parent() }} | Tipos de Aportes
{% endblock %}
{% block body %}
<div><h3>Estos son todos los tipos de aportes que hay:</h3></div>
{% for tipoAporte in tiposAportes %}
    <div><h4>{{ tipoAporte.tipoAporte }}</h4></div>
{% endfor %}
{% endblock %}